body {
  /* width: 100vw;
  height: 100vh; */
  /* overflow: hidden; */
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #f08, #d0e);
}

.container {
  width: 500px;
  height: 500px;
  justify-content: center;
  align-items: center;
  display: flex;
  border: 1px solid #000;
  margin-top: 20px;
}

.item {
  width: 150px;
  height: 150px;
  background: white;
  border-radius: 30px;
}

/* .arrowUpContainer {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  position: fixed;
  bottom: 2%;
  right: 2%;
} */

.arrowUp {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  position: fixed;
  bottom: 2%;
  right: 2%;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.602);
}